
.skill {
  text-align: center;
  width: 70%;
  margin:auto;
}

.skill .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 800px; */
  margin: auto;
  /* background-color: yellow; */
}

.skill .items .item {
  width: calc(33.33%);
  background-color: var(--background-color);
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: var(--box-shadow);
}

.skill .items .item img {
  width: 70px;
}

